.transactionHistory {
    border-radius: 5px;
    box-shadow: 0 0 10px #c6cccced;
    font-size: 20px;
  }
  .transactionHistory thead {
    background-color: grey;
    height: 40px;
    width: 80px;
  }
  .transactionHistory td {
    width: 250px;
    text-align: center;
    background-color: rgba(141, 141, 141, 0.3);
    border-bottom: 1px solid gray;
  }